{% extends 'layout.html' %} {% block title %} MonitoringAdmin {% endblock %} {% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>
<style>
  body {
    background-color: rgb(66, 114, 126);
    background-attachment: fixed;
    background-size: cover;
  }
</style>

<div class="container">
  <div class="row">
    <div class="">
      {% block body %}
      <div class="container">
        <div class="starter-template">
          <h1>Data Turbin Control Monitoring</h1>
          <tr>
            <button type="button" class="btn btn-primary btn-lg" disabled>Hasil Monitoring</button>
            <label><h6>BUTTON CONTROL :</h6></label>
            <a href="/start" class="btn btn-success btn-xs" onclick="return confirm('Start Operasi Turbin?')">Start Turbin</a>
            <a href="/temperatur" class="btn btn-secondary btn-xs" onclick="return confirm('ingin monitoring temperatur saja ?')">Temperatur</a>
            <a href="/pressure" class="btn btn-dark btn-xs" onclick="return confirm('ingin monitoring pressure saja ?')">Pressure</a>
            <a href="/stop" class="btn btn-danger btn-xs" onclick="return confirm('Stop Operasi Turbin?')">Stop Turbin</a>
            <a href="/clearlog" class="btn btn-warning btn-xs" onclick="return confirm('Hapus Operasi?')">Emergency Stop</a>
          </tr>
          <table class="table table-bordered table-secondary table-striped text-center fs-1 col-md-12 rows-md-4">
            <thead>
              <tr>
                <td>Id</td>

                <td>datetime</td>
                <td>temperature inlet</td>
                <td>temperature outlet</td>
                <td>pressure inlet</td>
                <td>pressure outlet</td>
                <td>status</td>
              </tr>
            </thead>

            <tbody id="myturbin">
              <tr>
                <td>{{"Loading Please wait !"}}</td>
                <td>{{ "Loading Please wait !" }}</td>
                <td>{{ "Loading Please wait !" }}</td>
                <td>{{ "Loading Please wait !" }}</td>
                <td>{{ "Loading Please wait !" }}</td>
                <td>{{ "Loading Please wait !" }}</td>
                <td>{{ "Loading Please wait !" }}</td>
              </tr>

              <tr>
                <td colspan="3">Unbelievable. No entries here so far</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- /.container -->
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
