{% extends 'userlayout.html' %} {% block title %} UserHome {% endblock %} {% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<title>XXX</title>
<!-- Jumbotron -->
<style>
  body {
    background-color: rgb(66, 114, 126);
  }
</style>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><span>WELCOME TO OUR PAGE || CASE 3 </span></h1>
    <h3 class="display-5"><span>USER HOME PAGE</span></h3>
  </div>

  <div class="jumbotron-1 jumbotron-fluid"></div>
</div>

<!-- akhir Jumbotron -->

<div class="container">
  <!-- seperti apa -->
  <div class="row workingspace justify-content-center">
    <div class="col-lg-12 text-center">
      <img src="/static/img/turbin4.jpeg" alt="turbin4" class="img-fluid rounded" />
    </div>
    <div class="col-lg-7 text-center"></div>
  </div>
  <!-- end seperti apa -->

  <section id="Contact">
    <div class="container">
      <div class="row contact-me mb-3">
        <div class="col">
          <h2>OUR TEAM:</h2>
        </div>
      </div>
      <div class="row contact">
        <div class="col-md-8">
          <div class="row workingspace justify-content-center">
            <div class="col-lg-12 text-center">
              <img src="/static/img/chandra.jpeg" alt="chandra" class="img-fluid rounded" />
            </div>
            <div class="col-lg-7 text-center"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="jumbotron-2 jumbotron-fluid">
  <div class="container">
    <!--footer-->
    <footer class="text-white text-center p-2 fs-1">
      <p>Thank You For Visiting Our Website | Check our Instagram Team for more info</p>
      <p>
        <i class="bi bi-instagram text-white"></i> <a href="https://www.instagram.com/rafiarma_/" class="text-white fw-bold">Rafi Putra Arma</a> | <i class="bi bi-instagram text-white"></i>
        <a href="https://www.instagram.com/hanif_nur_hidayat/" class="text-white fw-bold">Hanif Nur Hidayat </a> | <i class="bi bi-instagram text-white"></i>
        <a href="https://www.instagram.com/naufal.adichandra/" class="text-white fw-bold">Naufal Adi Chandra</a> | <i class="bi bi-instagram text-white"></i>
        <a href="https://www.instagram.com/agungbudi929/" class="text-white fw-bold">Agung Budi Widayanto</a>
      </p>
    </footer>
  </div>
</div>
{% endblock %}
